@import "assets/styles/variables";

header {
  height: 91px;
  padding: 0 $spacing-h-lg;
  background: $white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


  .logo {
    img {
      width: 248px;
      height: 80px;
    }
  }

  ul {
    gap: 30px;
    // margin-left: $spacing-h-lg;

    li {
      .link {
        color: $gray-3;

        &--active {
          color: $cerulean-blue;
        }
      }
    }
  }
}