@import "assets/styles/variables";

nav.header {
    top: 0;
    left: 0;
    right: 0;
    height: 91px;
    // padding: 0 $spacing-h-lg;
    background: $white;
    box-shadow: 0px 5px 20px -5px #605c5c;
    -webkit-box-shadow: 0px 5px 20px -5px #605c5c;
    -moz-box-shadow: 0px 5px 20px -5px #605c5c;
    z-index: 100;
    transform: translateY(0);
    transition: transform ease 0.3s;

    &--hidden {
        transform: translateY(-100%);
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    @media screen and (max-width: 1440px) {
        padding: 0 30px;
    }


    @media screen and (max-width: 1024px) {
        padding: 0 $spacing-h-sm;

        .h4 {
            font-size: 16px;
            line-height: 24px;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0 $spacing-h-sm;
        background: $linear-blue;
    }

    .logo {
        width: 248px;
        height: 62px;
        background: url('../../../assets/images/logo-blue.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media only screen and (max-width: 768px) {
            width: 124px;
            height: 30px;
            background: url('../../../assets/images/logo-small.png');
        }
    }

    ul {
        gap: 30px;

        li {
            .link {
                color: $gray-3;
                transition: color ease 0.2s;

                &--active {
                    color: $cerulean-blue;
                }

                &:hover {
                    color: $cerulean-blue;

                }
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .user-info-wrapper {

        &__user {
            gap: 10px;

            img.avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        &__drop-down {
            --pseudo-height: 25px;
            display: none;
            right: 0;
            top: calc(100% + var(--pseudo-height));
            min-width: 210px;
            background: $white;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            z-index: 1;

            &:hover {
                display: block;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 100%;
                height: calc(var(--pseudo-height) + 2px);
            }

            .item {
                padding: 15px 33px;

                &:hover {
                    background: $linear-blue;
                    color: $white;
                    cursor: pointer;
                }

                &--profile {
                    gap: 10px;

                    img.avatar {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }

                &:first-child {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }

        &__user {

            &:hover~.user-info-wrapper__drop-down {
                display: block;
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .login-btn {

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .menu-wrapper {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }

        .menu {
            cursor: pointer;
        }

        .menu-popup {
            max-width: 166px;
            right: 0;
            top: 100%;
            list-style: none;
            padding: 0 10px;
            border-radius: 10px;
            background-color: $white;


            li {
                padding: 10px 0;


                a {
                    color: $dark-charcoal;

                    &:hover {
                        color: $cerulean-blue;
                    }
                }


                &:not(:last-child) {
                    border-bottom: 1px solid $jordy-blue;
                }
            }
        }
    }

}