@import 'assets/styles/variables';

.input {
    background-color: $white;
    border: 1px solid $gray-2;
    border-radius: 10px;

    input {
        padding: 13px 20px;
        font-size: $fs-base;
        font-family: $font;
        background-color: transparent;

        &::placeholder {
            color: $gray-3;
        }
    }

    &__icon {}
}