@import 'assets/styles/variables';

.main-layout {
    background-color: $white;

    main {
        padding-top: 91px;

        @media screen and (max-width: 1024px) {
            padding-top: 0;
        }
    }
}