@import 'assets/styles/variables';

.filter {
    width: clamp(301px, 100%, 450px);
    height: fit-content;
    background-color: rgba($color: $jordy-blue, $alpha: 0.3);
    border-radius: 20px;

    @media screen and (max-width: 768px) {
        align-self: center;
    }

    &--collapsed {
        border-radius: 5px;

        .filter {

            &__section {
                display: none;
            }

            &__title {

                @media screen and (max-width: 768px) {
                    padding: 15px 23px;
                    border-bottom: none;
                }
            }
        }
    }

    &__title {
        padding: 35px 30px;
        border-bottom: 1px solid #2e65ba;

        img {
            display: none;

            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }

    &__section {
        padding: 30px;

        .title {
            margin-bottom: 20px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #2e65ba;
        }

        &:last-child {
            padding-bottom: 40px;
        }

        .options {
            gap: 20px;
        }
    }
}