@import 'assets/styles/variables';

.filter {
    max-width: 450px;
    width: 100%;
    height: fit-content;
    background-color: rgba($color: $jordy-blue, $alpha: 0.3);
    border-radius: 20px;

    &__title {
        padding: 35px 0 35px 30px;
        border-bottom: 1px solid #2E65BA;
    }

    &__section {
        padding: 30px;

        .title {
            margin-bottom: 20px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #2E65BA;
        }

        &:last-child {
            padding-bottom: 40px;
        }

        .options {
            gap: 20px;
        }
    }
}