@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.guide-list {
    .about {
        min-height: 723px;
        background-color: rgba($color: $jordy-blue, $alpha: 0.3);

        @media screen and (max-width: 480px) {
            height: auto;
            min-height: auto;
            padding-bottom: 53px;
        }

        &__wrapper {
            @media screen and (max-width: 480px) {
                flex-direction: column-reverse;
            }
        }

        &__heading {

            .heading {
                max-width: 690px;
                height: 172px;
                margin-bottom: 77px;
                margin-top: 219px;
                font-size: 68px;
                font-weight: $font-bold;
                line-height: 86px;

                @media screen and (max-width: 480px) {
                    margin-top: 28px;
                    height: auto;
                    margin-bottom: 18px;
                    font-size: 32px;
                    line-height: 42px;
                }
            }
        }

        &__video {
            width: clamp(388px, 50%, 690px);
            margin-top: 104px;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

            @media screen and (max-width: 480px) {
                margin-top: 28px;
            }
        }
    }

    .profile-info-list {
        margin-top: 80px;
        margin-bottom: 85px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 30px;

        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
}