@import 'assets/styles/variables';

.profile-info {
    gap: 30px;

    .info {

        .item-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 200px);
            margin-top: 10px;
            column-gap: 1px;
            row-gap: 10px;

            .item {
                display: flex;
                gap: 12.3px;
            }
        }

        .custom-link {
            margin-top: 20px;
        }
    }

    &--small {
        max-width: 450px;
        width: 100%;
        gap: 20px;

        .info {

            .item-wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
            }
        }
    }

    &--card {
        padding: 20px;
        background-color: $white;
        // border: 1px solid #bcbcbe;
        border-radius: 20px;
        transition: box-shadow ease 0.2s;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        }
    }
}