@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.avatar-com {
    --wrapper-size: 160px;
    --avatar-size: 144px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid $cerulean-blue;

    @media screen and (max-width: 1024px) {
        --wrapper-size: 130px;
        --avatar-size: 117px;
    }


    @media screen and (max-width: 480px) {
        --wrapper-size: 100px;
        --avatar-size: 90px;
    }

    width: var(--wrapper-size);
    height: var(--wrapper-size);

    .img {
        @include absoluteCenter();
        width: var(--avatar-size);
        height: var(--avatar-size);
        border-radius: 50%;
    }

    button {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 11px 30px;
    }

    .notification {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: $vivid-tangelo;
        border-radius: 50%;
        right: 5px;
        top: 5px;

        img {
            @include absoluteCenter();
            width: 23.33px;
            height: 23.33px;
        }
    }

    &--small {
        width: 111px;
        height: 111px;

        .img {
            width: 100px;
            height: 100px;
        }

        .notification {
            width: 30px;
            height: 30px;
            right: -1px;
            top: -1px;
        }
    }
}