@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.avatar {
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid $cerulean-blue;
    // // border-image-slice: 1;
    // // border-image-source: $linear-blue;
    // background: $linear-blue border-box;
    // -webkit-mask:
    //     $linear-blue padding-box,
    //     $linear-blue;
    // -webkit-mask-composite: xor;
    // mask-composite: exclude;

    img {
        @include absoluteCenter();
        width: 144px;
        height: 144px;
        border-radius: 50%;
    }

    button {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .notification {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: $vivid-tangelo;
        border-radius: 50%;
        right: 5px;
        top: 5px;

        img {
            @include absoluteCenter();
            width: 23.33px;
            height: 23.33px;
        }
    }
}