@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.avatar-com {
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid $cerulean-blue;

    .img {
        @include absoluteCenter();
        width: 144px;
        height: 144px;
        border-radius: 50%;
    }

    button {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .notification {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: $vivid-tangelo;
        border-radius: 50%;
        right: 5px;
        top: 5px;

        img {
            @include absoluteCenter();
            width: 23.33px;
            height: 23.33px;
        }
    }

    &--small {
        width: 111px;
        height: 111px;

        .img {
            width: 100px;
            height: 100px;
        }

        .notification {
            width: 30px;
            height: 30px;
            right: -1px;
            top: -1px;
        }
    }

}