@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.landing {

    .chart {
        margin-top: 30px;

        #chartdiv {
            max-width: 1670px;
            height: 812px;
            margin: 0 auto;
            background: rgba(60, 99, 180, 0.5);
            border: 10px solid rgba(205, 205, 205, 0.5);
            box-sizing: border-box;
            box-shadow: inset -20px -20px 24px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            margin-bottom: 38px;
            overflow: hidden;
        }
    }

    .feature {
        margin: 0 auto;
        max-width: 1410px;

        .h3 {
            margin-top: 38px;
        }

        .image-container {
            width: 100%;
            height: 875px;
            border-radius: 10px;
            margin-top: 38px;

            .container {
                margin: 0 90px;

                .title {
                    display: inline-block;
                    margin-top: 30px;
                }

                .description {
                    width: 624px;
                    height: 84px;
                    margin-top: 30px;
                }

                .img-button {
                    margin-top: 40px;
                }

                .tour-card-groups {
                    margin-top: 73px;
                }
            }
        }

    }

    .new {
        margin-top: 80px;

        .tour-type {
            gap: 27px;

            img {
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: transform ease 0.2s;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }

        .card-groups {
            margin-top: 38px;
            gap: 30px;
        }
    }

    .leaderboard {
        margin-top: 85px;
        min-height: 668px;
        background: rgba(143, 196, 246, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 20px;


        .h3 {
            display: inline-block;
            margin-top: 64px;
        }

        .user-ranking-groups {
            min-height: 402px;
            margin-top: 92px;
            gap: 155px;

        }

        .slider {
            margin-top: 58px;
            border-radius: 20px;
            padding: 15px 30px 17px;
            background: $linear-blue;
        }
    }

    .about {
        min-height: 723px;

        &__heading {

            .heading {
                width: 690px;
                height: 172px;
                margin-bottom: 77px;
                margin-top: 219px;
                font-size: 68px;
                font-weight: $font-bold;
                line-height: 86px;
            }
        }

        &__video {
            width: 690px;
            height: 515px;
            margin-top: 104px;
            background-color: #F7F7F7;
        }
    }
}