@import "variables";

.h1 {
  font-weight: $font-bold;
  line-height: 24px;
}

.h2 {
  font-weight: $font-bold;
}

.h3 {
  font-weight: $font-bold;
}

.h4 {
  font-weight: $font-bold;
}

.h5 {
  font-weight: $font-bold;
}

.h6 {
  font-weight: $font-normal;
}

.text-sm {
  font-size: $fs-sm;
  line-height: 20px;
}

.text-base {
  font-size: $fs-base;
  line-height: 24px;
}

.text-lg {
  font-size: $fs-lg;
  line-height: 28px;
}

.uppercase {
  text-transform: uppercase;
}

.text-light {
  color: $chinese-silver;
}

.text-dark {
  color: $dark-charcoal;
}

.text-white {
  color: $white;
}