$font: 'Montserrat', sans-serif;

// Font size
$fs-sm: 14px;
$fs-base: 16px;
$fs-lg: 20px;

// Font weight
$font-bold: 700;
$font-normal: 400;

// Color
$cerulean-blue: #2e65ba;
$jordy-blue: #8fc4f6;
$vivid-tangelo: #f27232;
$white: #fafbfd;

$linear-blue: linear-gradient(
    117.01deg,
    $cerulean-blue 9%,
    $jordy-blue 103.58%
);
$linear-tangelo: linear-gradient(117.01deg, $vivid-tangelo 9%, #fafbfd 103.58%);
$chinese-silver: #cdcdcd;
$dark-charcoal: #333333;

$gray-1: #fafbfd;
$gray-2: #cccccc;
$gray-3: #999999;
$gray-4: #666666;
$gray-5: #333333;

// Utils
$spacing-h-lg: 255px;
$spacing-h-sm: 20px;
